table, td, th {
    border: 1px solid black;
    text-align: center;
}

table {
    border-collapse: collapse;
}

.main {
    width: 60%;
    height: 1000px;
    margin: auto;
    background: cadetblue;
}

.header {
    width: 60%;
    margin: auto;
    background: blueviolet;
}

a:link, a:visited {
    color: lightgray;
}